body.piaf {
    margin: 0;
    background-image: url('https://rt-projet.pu-pm.univ-fcomte.fr/users/smaurer3/Route.jpg');
  
  }
  
  body.elfamoso {
    margin: 0;
    background-image: url('https://rt-projet.pu-pm.univ-fcomte.fr/users/smaurer3/route2.jpg');
    background-size: 1950px;
  }
  
  body.uwu {
    margin: 0;
    background-image: url('https://rt-projet.pu-pm.univ-fcomte.fr/users/smaurer3/Routenuit.jpg');
    background-size: 2000px;
  }
  
  body.joie {
    margin: 0;
    background-image: url('https://rt-projet.pu-pm.univ-fcomte.fr/users/smaurer3/Horloge.jpg');
    background-size: 1675px;
  }
  
  body.rapide {
    margin: 0;
    background-image: url('https://rt-projet.pu-pm.univ-fcomte.fr/users/smaurer3/voiturerouge.jpg');
    background-size: 2000px;
  }
  
  body.sheesh {
    margin: 0;
    background-image: url('https://rt-projet.pu-pm.univ-fcomte.fr/users/smaurer3/trafic.jpg');
    background-size: 1500px;
  }
  
  body.touma {
    margin: 0;
    background-color: #B0FFF3;
  }
  
  body {
    margin: 0;
  }
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #82F4A3;
    color: #8B4388;
  }
  
  ul.topnav li {
    float: left;
  }
  
  ul.topnav li a {
    display: block;
    color: #8B4388;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {
    background-color: #8B4388;
    color:#82F4A3;
  }
  
  ul.topnav li a.active {
    background-color: #8B4388;
    color:#82F4A3;
  }
  
  ul.topnav li.right {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  
  div.test {
    background-color: #86FF78;
    width: 250px;
    padding: 90px;
    margin: 80px;
    opacity: 0.90;
    border: 5px solid green;
    border-radius: 20px;
  }
  
  div.essai {
    background-color: #FFE332;
    width: 250px;
    padding: 90px;
    margin: 80px;
    opacity: 0.90;
    border: 5px solid #FE8B0A;
    border-radius: 20px;
  }
  
  div.papa {
    background-color: #D288FF;
    width: 500px;
    padding: 90px;
    margin: 150px;
    opacity: 0.90;
    border: 5px solid #490076;
    border-radius: 20px;
  }
  
  div.sombrero {
    background-color: #BEBEBE;
    width: 500px;
    padding: 90px;
    margin: 150px;
    opacity: 0.90;
    border: 5px solid #000000;
    border-radius: 20px;
  }
  
  div.gova {
    background-color: #E5AA73;
    width: 500px;
    padding: 90px;
    margin: 150px;
    opacity: 0.90;
    border: 5px solid #FF7C00;
    border-radius: 20px;
  }
  
  div.batman {
    background-color: #2DFFDF;
    width: 500px;
    padding: 90px;
    margin: 150px;
    opacity: 0.90;
    border: 5px solid #003AFF;
    border-radius: 20px;
  }
  
  h1.accueil {
    padding:10px;
    margin:10px;
  }
  
  input.pouet{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: lightblue;
    border-radius: 20px;
    font-size: 28px;
    color: blue;
    cursor: pointer;
  }
  
  form.validationform{
    background-color: #FF88AF;
    width: 250px;
    padding: 90px;
    margin: 80px;
    opacity: 0.90;
    border: 5px solid #780DAE;
    border-radius: 20px;
  }
  
  a.clair {
    color: #FF4CD9;
  }
  
  
  
  
  
  ul.tkt {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #A4FF84;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  ul.tkt li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  ul.tkt li a.active {
    background-color: #216D05;
    color: white;
  }
  
  ul.tkt li a:hover:not(.active) {
    background-color: #37C61B;
    color: white;
  }
  
  body.carte {
    margin: 0;
    background-image: url('https://rt-projet.pu-pm.univ-fcomte.fr/users/smaurer3/Carte.png');
    background-size: 1950px;
  }